@charset "utf-8";


$turq: #2de2e6;
$blue: #035ee8;
$pink: #f6019d;
$red: #d40078;
$purple: #9700cc;

$danger: $red;
$white: $pink;
$info: $blue;
$link: $turq;
$primary: $purple;
$text: $pink;
$background: $purple;

html,body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }
.hero.is-info {
    background-color: #9700cc;

#triangle1 {

}
#triangle2 {

}
}
@import "../node_modules/bulma/bulma.sass";