@charset "utf-8";


$turq: #2de2e6;
$blue: #035ee8;
$pink: #f6019d;
$purple: #9700cc;


$teal: #2f9195;
$yellow: #f7d969;
$orange: #f16a43;
$red: #ec1c4b;
$purple: #a6206a;

$danger: $red;
$white:  rgba(241,106,67,1) ;
$info:  rgba(241,106,67,1) ;
$link: $turq;
$primary: $purple;
$text: $pink;
$background: $purple;

$button-border-width: 0px;

html,body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  
  //Background gradient and animation start -----
  .hero.is-info {


    background: rgb(47,145,149);
    background: url(/images/palm-tree-left.png) 0% 100% no-repeat, url(/images/palm-tree-right.png) 100% 100% no-repeat, linear-gradient(0deg, $yellow 0%, $orange 35%, $red 65%, $purple 90%);
    background-size: 200px 200px, 200px 200px, 200% 200%;
    animation: gradient 20s ease forwards;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 200%, 100% 200% ,0% 0%;
    }
    100% {
      background-position: 0% 100%, 100% 100%, 100% 100%;
    }/*
    100% {
      background-position: 0% 200%, 100% 200%, 0% 0%;
    }
    */
  }
  //Background gradient and animation ends -----



  //Navbar section starts ---------
  .navbar,
  .navbar-menu,
  .navbar-start,
  .navbar-end {
    align-items: stretch;
    display: flex;
    padding: 0;
  }
  
  .navbar-menu{
    flex-grow: 1;
    flex-shrink: 0;
    background-color: transparent;
  }
  .navbar-start{
    justify-content: flex-start;
    margin-right: auto;
  }
  .navbar-end{
    justify-content: flex-end;
    margin-left: auto;
  }
  .navbar .container {
    display: flex;
  }
  .navbar-item {
    display: flex;
    align-items: center;
  }
  @media screen and (max-width: 1023px){
    .hero.is-info .navbar-menu {
    background-color: transparent;
    box-shadow: none;
    }
  }


  //Navbar section ends --------

}

#background-text {
}

.button {
  transition: 0.5s;
  background-size: 200% auto;
  background-image: linear-gradient(to right, $orange 0%, $red 50%, $purple 100%);
 }
 .button:hover {
  background-position: right center; /* change the direction of the change here */
}

@import "../node_modules/bulma/bulma.sass";