<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <meta property="og:title" content="Viddi.dev" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://viddi.dev" />
    <meta property="og:image" content="https://imgur.com/4c7UDfZ" />
    <meta property="og:description" content="Personal website and portfolio" />
    <meta name="theme-color" content="#FF0000">

<!-- Include this to make the og:image larger -->
<meta name="twitter:card" content="summary_large_image">
    <link rel="stylesheet" href="/css/mystyles.css">
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v6.0.0/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
</head>