<nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="../">
                <img src="/images/logo.png" alt="Logo">
            </a>

        </div>
        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
                <span class="navbar-item">
                    <a class="button is-white is-outlined" href="/about">
                        <span class="icon">
                            <i class="fa fa-info"></i>
                        </span>
                        <span>About</span>
                    </a>
                </span>
                <span class="navbar-item">
                    <a class="button is-white is-outlined" href="https://github.com/vidars17">
                        <span class="icon">
                            <i class="fa fa-github"></i>
                        </span>
                        <span>Git</span>
                    </a>
                </span>
                <span class="navbar-item">
                    <a class="button is-white is-outlined" href="cv">
                        <span class="icon">
                            <i class="fa fa-book"></i>
                        </span>
                        <span>CV</span>
                    </a>
                </span>
            </div>
        </div>
    </div>
</nav>