<nav class="navbar is-transparent">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="../">
                <span >viddi.dev</span>
            </a>

        </div>
        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
               
                <span class="navbar-item">
                    <a class="button" href="https://github.com/vidars17">
                        <span class="icon">
                            <i class="fa fa-github"></i>
                        </span>
                        <span>Git</span>
                    </a>
                </span>
                <span class="navbar-item">
                    <a class="button" href="../pdf/CV-2021.pdf" download>
                        <span class="icon">
                            <i class="fa fa-book"></i>
                        </span>
                        <span>CV</span>
                    </a>
                </span>
            </div>
        </div>
    </div>
</nav>
