<nav class="navbar is-transparent">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="../">
                <span >viddi.dev</span>
            </a>
            
        </div>
        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">

                <span class="navbar-item">
                    <a class="button main" href="/urlShortener">
                        <span class="icon">
                            <i class="fas fa-link-slash"></i>                        </span>
                        <span>Url shortener</span>
                    </a>
                </span>
                <span class="navbar-item">
                    <a class="button main" href="https://github.com/vidars17">
                        <span class="icon">
                            <i class="fab fa-github"></i>
                        </span>
                        <span>Git</span>
                    </a>
                </span>
                <span class="navbar-item">
                    <a class="button main" href= "<%= lingua.cv_lang %>" download>
                        <span class="icon">
                            <i class="fa fa-book"></i>
                        </span>
                        <span>CV</span>
                    </a>
                </span>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        <%= lingua.lang_in_lang %>
                    </a>
            
                    <div class="navbar-dropdown">
                      <a href="?language=en" class="navbar-item">
                        English
                      </a>
                      <a href="?language=is" class="navbar-item">
                        Íslenska
                      </a>
                      <a href="?language=fr" class="navbar-item">
                        Français
                      </a>
                      <a href="?language=tr" class="navbar-item">
                        Türkçe
                      </a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</nav>
