<!DOCTYPE html>
<html>
<%- include("partials/_head.ejs", { title: "Error"}) %>

<body>
    <section class="hero is-info is-fullheight">
        <div class="hero-head">
            <%- include("partials/_nav.ejs") %>
            </div>

            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="column is-6 is-offset-3">
                        <h1 class="title">
                            <%= lingua.error %>
                        </h1>
                        
                    </div>
                </div>
            </div>

    </section>
</body>

</html>