<!DOCTYPE html>
<html>

<%- include("partials/_head.ejs", { title: "Welcome"}) %>

<body>
    <section class="hero is-info is-fullheight">
        <div class="hero-head">
            <%- include("partials/_nav.ejs") %>
            </div>

            <div class="hero-body rows">
                <div class="container row is-full">
                    <div class=" columns is-centered">
                        <div class="columns is-half">
                            <img width="250" src="https://i.imgur.com/jT8Lr2W.png" alt="cake">
                            <!--
                            <div id="triangle1"></div>
                            <div id="triangle2"></div>
                            -->

                        </div>
                    </div>

                </div>

                <div class="container has-text-centered ">
                    <div class="column is-6 is-offset-3">
                        <h1 class="title">
                            Til hamingju með daginn Veddi!
                        </h1>
                        
                    </div>
                </div>
            </div>

    </section>
</body>

</html>