<!DOCTYPE html>
<html>

<%- include("partials/_head.ejs", { title: "Welcome"}) %>

<body>
    <section class="hero is-info is-fullheight">
        <div class="hero-head">
            <%- include("partials/_nav.ejs") %>
        </div>
        
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-6 is-offset-3"></div>
                    <h1 id="title-text" class="title">
                        Welcome to my website
                    </h1>
                </div>
            </div>
        </div>
        

    </section>
</body>
<script>
    $('#title-text').animate({'opacity': 0}, 3000, function () {
        $(this).text('My name is Viðar');
    }).animate({'opacity': 1}, 3000);
    $('#title-text').animate({'opacity': 0}, 1000, function () {
        $(this).text('Please have a look around!');
    }).animate({'opacity': 1}, 3000);
</script>
</html>