<!DOCTYPE html>
<html>

<%- include("partials/_head.ejs", { title: lingua.title}) %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<body>
    <section class="hero is-info url-shortener is-fullheight">
        <div class="hero-head">
            <%- include("partials/_nav.ejs", { lang_link: lingua.title }) %>
        </div>
        
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-6 is-offset-one-quarter"></div>
                <label class="label is-info has-text-white">Url shortener</label>
                    <div class="field has-addons">
                        <div class="control has-icons-left is-expanded">
                            <input class="input" type="text" placeholder="Insert url to shorten here">
                        </div>
                        <div class="control">
                            <button class="button is-info is-outlined is-inverted ">Copy</button>
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button main is-info">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

    </section>
</body>
</html>